.login{
    margin:1.5rem auto;
    width: 3.2rem;
    border:0.02rem solid #db6968;
}
/* h3 {
    color: seashell;
    text-align: center;
    line-height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 5px rgb(241, 93, 7);
    font-size: 40px;
} */
input{
    margin:.3rem auto;
    display: block;
    width: 2.5rem;
    height: .3rem;
    /* border: 1px solid #fff; */
    /* background-color: #dcdde1; */
    border-radius: .05rem;
}
button{
    display: block;
    margin:.2rem auto;
    width: 2rem;
    height: .3rem;
}